<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54925150-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-54925150-1');
        </script>

        <title>TeamMaker</title>
        <meta name="description" content="UI/UX Designer, Web Developer, Prototyper - Let's make something great together!">
        <meta charset="utf-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani:100,300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet">

        <link rel="stylesheet" href="css/main.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="scripts/main.js"></script>
        <!-- <link rel="preload" href="assets/blop_1.png" as="image"> -->
        <link rel="preload" href="assets/red_blop_lighter.png" as="image">
        <link rel="preload" href="assets/blue_blop_lighter.png" as="image">
        <!-- <link rel="preload" href="assets/blop_3.png" as="image"> -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">        

    </head>

    <body>
        <!-- <div class="pre-loader home">
            <div class="loader spinner"></div>
        </div> -->

        <div id="playerList" class="app--container container">
            <div class="col-xs-12 col-lg-6 col-lg-offset-3 col-xs-offset-0">
                <div class="row header">
                    <div class="col-xs-1 menu-btn">
                        <i class="material-icons">
                        menu
                        </i>
                    </div>
                    <div class="col-xs-2 col-xs-offset-4 page-title">Players</div>
                    <div class="col-xs-1 col-xs-offset-4 edit-btn">
                        <i class="material-icons">
                        edit
                        </i>
                    </div>

                </div>
                <div class="row">
                    <div class="main--container no-gutter">
                        <ul class="player-list" v-for="player in players">
                            <li>
                                <div class="player-number">{{ player.id }}</div>
                                <div class="player-name" v-bind:id="'name' + player.id" v-on:click=clearName(player.id)>
                                    <input type="text" placeholder="Enter a name..." v-bind:id="player.id" v-bind:value="player.name" @change="changePlayerName(player.id)">
                                </div>
                                <div class="delete-btn" v-on:click="deletePlayer(player.id)">
                                    <i class="material-icons">
                                    close
                                    </i>
                                </div>
                            </li>
                            
                        </ul>
                        <button id="add-player-btn" v-on:click="addPlayer()">Add player</button>
                    </div>
                </div>
                <div id="teamList" class="row">
                    <h1>Teams</h1>
                    <button id="make-team-btn" v-on:click="makeTeams()">Make Teams</button>
                    <div v-for="team in teams">
                        <div v-for="player in team">
                            <p>{{ player.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
</html>


			
		